<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <form action="/post" method="post" name='1' class="form-inline">
          <button type="submit" name="rare" class="btn btn-default">モード１</button>
    </form>

    <form action="/post" method="post" name='2' class="form-inline">
          <button type="submit" name="10rare" class="btn btn-default">モード２</button>
    </form>

    <form action="/post" method="post" name='3' class="form-inline">
          <button type="submit" name="reset" class="btn btn-default">モード３</button>
    </form>
</body>
</html>